<template>
  <div class="home">
      <image-slider showOverlay="true" :overlayString="title" :imgList="heroImage"/>
    <div class="text-container">
      <text-hex-div
        v-for="hexContent in hexDiv"
        :key="hexContent.index"
        :index="hexContent.index"
        :headlines="headlines"
        :contentText="contentText[hexContent.index]"
        :hexImg="hexContent.hexImg"
      />
    </div>
  </div>
</template>

<script>
import imageSlider from "../components/imageSlider.vue";
import textHexDiv from "../components/textHexDiv.vue";
import aboutContent from "!raw-loader!../../dist/public/page_info/about.txt";

export default {
  name: "About",
  components: {
    "text-hex-div": textHexDiv,
    "image-slider": imageSlider,
  },
  data() {
    return {
      title: ["Who We Are"],
      heroImage: ["./public/img/weld_bay.JPG"],
      contentText: aboutContent.split("\n\n"),
      headlines: ['Design. Build. Race.', 'Our History', 'Our Members', 'Join Us!'],
      hexDiv: [
        {
          index: 0,
          hexImg: 'url("./public/img/freshers2.JPG")'
        },
        {
          index: 1,
          hexImg: 'url("./public/img/madrid_visit.jpg")'
        },
        {
          index: 2,
          hexImg: 'url("./public/img/mclaren.jpg")'
        },
        {
          index: 3,
          hexImg: 'url("./public/img/action2.JPG")'
        },
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";

.text-container {
  overflow: hidden;
  padding-bottom: 5%;
}
</style>