<template>
  <div class="home">
    <div class="vid-player" :style="{
      'height': windowHeight.toString() + 'px',
    }">
      <video autoplay muted loop>
        <source src="public/vid/demo_lap_reduced.mp4" type="video/mp4">
      </video>
      <img-overlay :overlayString="title"/>
    </div>
    <div class="text-container">
      <text-hex-div
        v-for="hexContent in hexDiv"
        :key="hexContent.index"
        :index="hexContent.index"
        :headlines="headlines"
        :contentText="contentText[hexContent.index]"
        :hexImg="hexContent.hexImg"
      />
    </div>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import carsContent from "!raw-loader!../../dist/public/page_info/cars.txt";
import imgOverlay from "../components/imgOverlay.vue";
import textHexDiv from "../components/textHexDiv.vue";

export default {
  name: "Cars",
  components: {
    "content-text-div": contentTextDiv,
    "img-overlay": imgOverlay,
    "text-hex-div": textHexDiv
  },
  data() {
    return {
      title: ["FBR19 - Our Best Ever"],
      windowHeight: 200,
      windowWidth: 200,
      contentText: carsContent.split("\n\n"),
      headlines: [
        "Design and Manufacturing",
        "",
        "",
        "",
        "FSUK 2019",
        "",
        "",
        "Thanks"
      ],
      hexDiv: [
        {
          index: 0,
          hexImg: 'url("./public/img/nosecone.jpg")',
        },
        {
          index: 1,
          hexImg: 'url("./public/img/chassis_paint.jpg")',
        },
        {
          index: 2,
          hexImg: 'url("./public/img/sit.jpg")'
        },
        {
          index: 3,
          hexImg: 'url("./public/img/sidepod.jpg")'
        },
        {
          index: 4,
          hexImg: 'url("./public/img/outside_scrut.JPG")'
        },
        {
          index: 5,
          hexImg: 'url("./public/img/design_judging.JPG")'
        },
        {
          index: 6,
          hexImg: 'url("./public/img/race_prep.jpg")'
        },
        {
          index: 7,
          hexImg: 'url("./public/img/team_garage.jpg")'
        }
      ]
    };
  },
  created() {
    window.addEventListener("resize", this.getWindowHeight);
    window.addEventListener("resize", this.getWindowWidth);
    this.getWindowHeight();
    this.getWindowWidth();
  },
  destroyed() {
    window.removeEventListener("resize", this.getWindowHeight);
    window.removeEventListener("resize", this.getWindowWidth);
  },
  methods: {
    getWindowHeight: function() {
      this.windowHeight = window.innerHeight;
    },
    getWindowWidth: function() {
      this.windowWidth = window.innerWidth;
      this.windowHeight = 0.5 * this.windowWidth;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
@import "../assets/colours.scss";

.vid-player {
  margin-bottom: $slider-margin-bottom;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 550px) {
    margin-top: $vid-margin-spacing;
  }

  & > video {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: $slider-margin-top;
    opacity: $imgOpacity;
  }
}
</style>