<template>
  <div class="home">
    <image-slider :showOverlay="true" :overlayString="title" :imgList="heroImage"/>
    <div class="container-container">
      <div class="contact-container">
        <div class="sponsors-sec">
          <headline :headline="headlines[0]"/>
          <content-text-div v-for="(par, index) in content" :key="index" :content="par"/>
          <router-link
            class="partners-link"
            to="/partners"
          >Click here to view our sponsorship prospectus</router-link>
        </div>
        <div class="contact-img">
          <img :src="'public/img/dyson_meeting.jpg'">
        </div>
        <!-- TODO: revert formatting after form is functional
          <div class="general-sec">
          <content-text-div :headline="headlines[1]" :content="contact"/>
          <contact-form/>
        </div>-->
      </div>
      <div class="address-container">
        <div class="address-text">
          <content-text-div :headline="headlines[1]" :content="contact"/>
          <p class="email">{{ email }}</p>
          <headline :headline="headlines[2]"/>
          <p>
            Department of Engineering,
            <br>Trumpington Street,
            <br>Cambridge CB2 1PZ,
            <br>United Kingdom
          </p>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19561.523862011865!2d0.08591233427652248!3d52.203585854339885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8774ed42712a9%3A0x67f4678955a5ba18!2sDepartment%20of%20Engineering%2C%20University%20of%20Cambridge!5e0!3m2!1sen!2skr!4v1569894341845!5m2!1sen!2skr"
          width="60%"
          height="auto"
          frameborder="0"
          style="border:0;"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import headline from "../components/headline.vue";
import imageSlider from "../components/imageSlider.vue";
import ContactForm from "../components/ContactForm.vue";
import contentTextDiv from "../components/content-text-div.vue";
import contactContent from "!raw-loader!../../dist/public/page_info/contact.txt";

export default {
  name: "Contact",
  components: {
    "image-slider": imageSlider,
    headline: headline,
    "contact-form": ContactForm,
    "content-text-div": contentTextDiv
  },
  data() {
    return {
      content: contactContent
        .split("\n\n")
        .slice(0, contactContent.split("\n\n").length - 1),
      contact: contactContent.split("\n\n")[
        contactContent.split("\n\n").length - 1
      ],
      title: ["Contact Us"],
      heroImage: ["./public/img/contact.JPG"],
      headlines: ["Prospective Partners", "Join Us", "Find Us"],
      email: "getmore@fullblueracing.co.uk"
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/fonts.scss";
@import "../assets/sizes.scss";
@import "../assets/colours.scss";

.container-container {
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}

.contact-container,
.address-container {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 3%;
  @media screen and (max-width: 1070px) {
    width: 100%;
    display: block;
  }
}

.partners-link {
  color: $fbrLightBlue;
  font-size: 20px;
}

.address-container {
  & > .address-text {
    margin-right: 4%;
  }
  & iframe {
    min-height: 400px;
    min-width: 400px;
  }
}

.hidden {
  display: none;
}

.general-sec,
.sponsors-sec {
  // TODO: revert after form functional
  // width: 50%;
  margin-right: 4%;
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    width: inherit;
  }
}
.sponsors-sec {
  min-height: 450px;
  @media screen and (max-width: 1070px) {
    width: 100%;
    margin: 0;
    min-height: 0;
  }
}
.general-sec {
  color: white;
  // TODO: revert after form is functional
  // border-left: 2px $fbrLightBlue solid;
  // @media screen and (max-width: 600px) {
  //   min-height: 0;
  //   border: 0;
  // }
}

.email {
  color: white;
  font-family: $fullBlueFont;
  font-size: 36px;
}

.contact-img {
  margin-top: 2%;
  @media screen and (max-width: 1070px) {
    display: block;
  }
  & > img {
    max-width: 540px;
    @media screen and (max-width: 1070px) {
      max-width: 100%;
      display: block;
      width: 100%;
    }
  }
}
</style>