<template>
  <div class="home">
    <img-slider showOverlay="true" :overlayString="overlayString" :imgList="heroImage" />
    <p style="margin: 2%;">
      The page you're looking for is not here - return to our home page 
      <router-link href='/'>here</router-link>, or go to a specific page using the menu.
    </p>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import imgSlider from "../components/imageSlider.vue";

export default {
  name: "Error",
  components: {
    "img-slider": imgSlider,
    "content-text-div": contentTextDiv,
  },
  data() {
    return {
      overlayString: ['404 - Not Found'],
      heroImage: ['./public/img/Lion.png']
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
</style>