<template>
  <div class="home" data-view>
    <!-- Top slider -->
    <image-slider showOverlay="true" :overlayString="sliderTopString" :imgList="sliderTop"></image-slider>
    
    <hex-row/>
    
    <!-- Bottom slider -->
    <image-slider
      id="bottomSlider"
      showOverlay="true"
      :overlayString="sliderBottomString"
      :imgList="sliderBottom"
    ></image-slider>
  </div>
</template>

<script>
import imageSlider from "../components/imageSlider.vue";
const hexRow = () => import(/* webpackChunkName: "hex-row" */"../components/hexRow.vue");

export default {
  name: "Home",
  components: {
    "image-slider": imageSlider,
    "hex-row": hexRow,
  },
  data() {
    return {
      sliderTopString: ["TTP Full Blue Racing", "Design. Build. Race."],
      sliderBottomString: ["Join us!", "getmore@fullblueracing.co.uk"],      
      title: document.title,
      sliderTop: [
        { id: 1, link: "./public/img/action_shot.jpeg", isActive: false },
        { id: 2, link: "./public/img/fbr18.jpg", isActive: true },
        { id: 3, link: "./public/img/fbr19_team.jpg", isActive: false }
      ],
      sliderBottom: [
        { id: 1, link: "./public/img/freshers.jpg", isActive: false },
        { id: 2, link: "./public/img/silverstone.JPG", isActive: true },
        { id: 3, link: "./public/img/finish.jpg", isActive: false }
      ],
    };
  }
};
</script>

<style lang="scss" scoped>
#bottomSlider {
  margin-bottom: 0px;
  padding: 0px;
}
</style>