<template>
  <div class="home">
    <image-slider showOverlay="true" :overlayString="overlayString" :imgList="titleImg"></image-slider>
    <div class="login">
      <button @click="triggerNetlifyIdentityAction('login')">Log In</button>
      <button @click="triggerNetlifyIdentityAction('signup')">Sign Up</button>
    </div>
  </div>
</template>

<script>
import imageSlider from "../components/imageSlider.vue";
import contentTextDiv from "../components/content-text-div.vue";
import netlifyIdentity from 'netlify-identity-widget';

netlifyIdentity.init({
    APIUrl: "https://www.fullblueracing.co.uk/.netlify/identity",
    logo: true
});

export default {
  name: "Member",
  components: {
    "image-slider": imageSlider,
    "content-text-div": contentTextDiv
  },
  data() {
    return {
      overlayString: ["Team Member Login"],
      titleImg: ["./public/img/Lion.png"]
    };
  },
  methods: {
    triggerNetlifyIdentityAction(action) {
      if (action == "login" || action == "signup") {
        netlifyIdentity.open(action);
        netlifyIdentity.on(action, user => {
          this.currentUser = {
            username: user.user_metadata.full_name,
            email: user.email,
            access_token: user.token.access_token,
            expires_at: user.token.expires_at,
            refresh_token: user.token.refresh_token,
            token_type: user.token.token_type
          };
          this.updateUser({
            currentUser: this.currentUser
          });
          netlifyIdentity.close();
        });
      } else if (action == "logout") {
        this.currentUser = null;
        this.updateUser({
          currentUser: this.currentUser
        });
        netlifyIdentity.logout();
        this.$router.push({ name: "Home" });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";

.login {
  min-height: 60px;
  width: 100%;
  align-content: center;
}
</style>
