<template>
  <div class="home">
    <image-slider showOverlay="true" :overlayString="title" :imgList="heroImage"/>
    <div class="new-partner">
      <headline headline="Prospective Partners" style="text-align: center;"/>
      <div class="par-wrapper" v-for="par in newPartner" :key="par">
        <content-text-div class="new-partner-par" :content="par" :key="par"/>
      </div>
      <div
        class="embed-container"
        data-page-width="250"
        data-page-height="440"
        id="ypembedcontainer"
      >
        <iframe
          src="https://www.yumpu.com/en/embed/view/sDE261NwPkFvhop5"
          frameborder="0"
          allowfullscreen="true"
          allowtransparency="true"
        ></iframe>
      </div>
    </div>
    <div class="text-container">
      <div class="par-wrapper" v-for="(par, index) in content" :key="index">
        <content-text-div class="sponsors" :headline="headlines[index]" :content="par" :key="par"/>
        <div class="sponsor-logos">
          <a v-for="(img, imgIndex) in imgListList[index]" :key="imgIndex" :href="img.link">
            <img :src="img.img">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import imageSlider from "../components/imageSlider.vue";
import headline from "../components/headline.vue";
import partnersContent from "!raw-loader!../../dist/public/page_info/partners.txt";
import newPartnerContent from "!raw-loader!../../dist/public/page_info/newPartner.txt";

export default {
  name: "Partners",
  components: {
    "content-text-div": contentTextDiv,
    "image-slider": imageSlider,
    headline: headline
  },
  data() {
    return {
      newPartner: newPartnerContent.split("\n\n"),
      content: partnersContent.split("\n\n"),
      headlines: ["Title Sponsor", "Our Partners"],
      title: ["Partners"],
      heroImage: ["./public/img/sponsors.JPG"],
      imgListList: [
        [
          {
            img: "./public/img/sponsor-logos/ttp_lockup.jpg",
            link: "https://www.ttp.com/"
          }
        ],
        [
          {
            img: "./public/img/sponsor-logos/nuclino.png",
            link: "https://www.nuclino.com/"
          },
          {
            img: "./public/img/sponsor-logos/ANSYS_logo.png",
            link: "https://www.ansys.com/"
          },
          {
            img: "./public/img/sponsor-logos/SiemensClrLogo.jpg",
            link: "https://www.siemens.com/"
          },
          {
            img: "./public/img/sponsor-logos/rigor.jpg",
            link: "https://www.rigorprecision.com/"
          },
          {
            img: "./public/img/sponsor-logos/Rank.png",
            link: "https://www.rankbrothers.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/WEC-logo.jpg",
            link: "http://www.wec-group.com"
          },
          {
            img: "./public/img/sponsor-logos/tygavac-logo.jpg",
            link: "https://www.tygavac.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/easy-composites-logo-curves.jpg",
            link: "https://www.easycomposites.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/zircotec.jpeg",
            link: "https://www.zircotec.com/"
          },
          {
            img: "./public/img/sponsor-logos/tube-bender.gif",
            link: "https://tube-bender.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/leda.jpg",
            link: "http://leda.com/"
          },
          {
            img: "./public/img/sponsor-logos/car-builders.png",
            link: "https://www.carbuilder.com/uk/"
          },
          {
            img: "./public/img/sponsor-logos/avon-tyres-logo.png",
            link: "https://www.avontyres.com/en-gb/"
          },
          {
            img: "./public/img/sponsor-logos/BRAID.jpg",
            link: "https://www.braid.es/wheels"
          },
          {
            img: "./public/img/sponsor-logos/ap-racing.png",
            link: "http://www.apracing.com/"
          },
          {
            img: "./public/img/sponsor-logos/sh-logo.png",
            link: "https://www.siliconhoses.com/"
          },
          {
            img: "./public/img/sponsor-logos/boeing.png",
            link: "https://www.boeing.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/marshall.jpg",
            link: "https://www.marshallgroup.co.uk/"
          },
          {
            img: "./public/img/sponsor-logos/huawei.png",
            link: "https://www.huawei.com/uk/"
          },
          {
            img: "./public/img/sponsor-logos/ni.svg",
            link: "https://www.ni.com/en-gb.html"
          },
          {
            img: "./public/img/sponsor-logos/numerade-logo.png",
            link: "https://www.numerade.com/?utm_source=other&utem_medium=referral&utm_campaign=edu"
          },
        ]
      ]
    };
  },
  mounted() {
    let magazineScript = document.createElement('script')
    magazineScript.setAttribute('src', 'https://players.yumpu.com/modules/embed/yp_r_iframe.js')
    document.body.appendChild(magazineScript)
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";

.par-wrapper {
  margin: 2%;
}

.new-partner {
  height: fit-content;
  margin: 4%;
  & .new-partner-par {
    text-align: center;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
}

.sponsors {
  align-content: center;
  text-align: center;
}

.sponsor-logos {
  background-color: white;
  align-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  & a {
    max-height: 300px;
    min-width: 25%;
    max-width: 30%;
    padding: 10px;
    margin: auto 10px;
    & > img {
      max-height: 200px;
      background-color: white;
      width: 100%;
      height: auto;
    }
  }
}

.par-wrapper:first-child .sponsor-logos {
  text-align: center;

  & a {
    margin: 0 auto;
    max-height: 250px;
    max-width: 100%;
    & img {
      max-height: 250px;
      max-width: 100%;
      width: 100%;
    }
  }
}
</style>