<template>
  <div class="home">
    <div class="text-container">
      <content-text-div></content-text-div>
    </div>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";

export default {
  name: "Socials",
  components: {
    "content-text-div": contentTextDiv
  },
  data() {
    return {
      title: document.title
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
// @import "../assets/_colours.scss";
// @import "../assets/_font.scss";
// .home {
//   flex-grow: 1;
//   min-height: 100vh;
//   padding: 100px;
//   background: white;
//   .home-text {
//     h1 {
//       font-family: $accent-font;
//       font-weight: 600;
//       color: $accent-dark-blue;
//       margin-bottom: 0;
//       line-height: 1.2em;
//     }
//     p {
//       font-size: $font-M;
//       color: $dark-grey;
//     }
//     .icons {
//       .icon {
//         font-size: 40px;
//         margin: 0 10px 0 10px;
//         transition-duration: 0.3s;
//         &:hover {
//           cursor: pointer;
//         }
//       }
//       .linkedin-logo {
//         color: $accent-dark-blue;
//         margin-left: 0;
//         &:hover {
//           color: #0077b5;
//         }
//       }
//       .github-logo {
//         color: rgb(147, 146, 206);
//         &:hover {
//           color: #590059;
//         }
//       }
//       .medium-logo {
//         color: $light-grey;
//         &:hover {
//           color: $dark-grey;
//         }
//       }
//       .insta-logo {
//         color: rgb(165, 117, 155);
//         &:hover {
//           color: #c13584;
//         }
//       }
//     }
//   }
//   .home-img {
//     flex-grow: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     img {
//       width: 100%;
//       max-width: 750px;
//       height: auto;
//     }
//   }
//   @media only screen and (min-width: $phone-S) {
//     padding: 80px 20px 20px 20px;
//     .home-text {
//       align-items: center;
//       text-align: center;
//       h1 {
//         font-size: 3em;
//       }
//       .line-break {
//         display: none;
//       }
//     }
//   }
//   @media only screen and (min-width: $phone-L) {
//     //to fill
//   }
//   @media only screen and (min-width: $tablet-potrait) {
//     //to fill
//   }
//   @media only screen and (min-width: $tablet-landscape) {
//   }
//   @media only screen and (min-width: $desktop) {
//   }
//   @media only screen and (min-width: $desktop-lg) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: row-reverse;
//     padding: 0 100px;
//     .home-text {
//       text-align: left;
//       margin-right: 50px;
//       h1 {
//         font-size: 5em;
//       }
//       .icons {
//         padding-bottom: 100px;
//       }
//       .line-break {
//         display: inline;
//       }
//     }
//   }
// }
</style>