<template>
  <div class="home">
    <img-slider showOverlay="true" :overlayString="overlayString" :imgList="heroImage" />
    <p style="margin: 2%;">
      Success! Thank you for submitting your enquiry. Please click
      <router-link href='/'>here</router-link> to return to our home page, 
      or go to a specific page using the menu.
    </p>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import imgSlider from "../components/imageSlider.vue";

export default {
  name: "Error",
  components: {
    "img-slider": imgSlider,
    "content-text-div": contentTextDiv,
  },
  data() {
    return {
      overlayString: ['Form Submitted'],
      heroImage: ['public/img/Lion.png']
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
</style>