<template>
  <div class="home">
    <image-slider showOverlay="true" :overlayString="title" :imgList="heroImage"/>
    <div class="text-container">
      <div class="members-wrapper">
        <div class="member" v-for="(member, index) in memberList" :key="index">
          <div class="hexagon-wrapper-wrapper">
            <div class="hexagon-wrapper">
              <hexagon :link="member.img"/>
            </div>
          </div>
          <content-text-div class="name" :content="member.name"/>
          <content-text-div class="title" :content="member.title"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imageSlider from "../components/imageSlider.vue";
import hexagon from "../components/hexagon.vue";
import contentTextDiv from "../components/content-text-div.vue";

export default {
  name: "About",
  components: {
    hexagon: hexagon,
    "image-slider": imageSlider,
    "content-text-div": contentTextDiv
  },
  data() {
    return {
      title: ["Core Team"],
      heroImage: ["./public/img/fbr19_team_alternate.JPG"],
      memberList: [
        {
          img: 'url("./public/img/alastair.jpg")',
          name: "Alastair Lai",
          title: "Team Leader/Head of Chassis"
        },
        {
          img: 'url("./public/img/aidan.jpg")',
          name: "Aidan Jones",
          title: "Deputy Team Leader/Co-Head of Aero"
        },
        {
          img: 'url("./public/img/dan_y.jpg")',
          name: "Danny Smith",
          title: "Technical Director/Head of Powertrain"
        },
        {
          img: 'url("./public/img/kadi.jpg")',
          name: "Kadi Sun",
          title: "Head of Vehicle Dynamics"
        },
        {
          img: 'url("./public/img/joel.jpg")',
          name: "Joel Camara",
          title: "Co-Head of Aero"
        },
        {
          img: 'url("./public/img/rikesh.jpg")',
          name: "Rikesh Chauhan",
          title: "Co-Head of Electronics"
        },
        {
          img: 'url("./public/img/Adam.jpg")',
          name: "Adam Pullin",
          title: "Co-Head of Electronics"
        },
        {
          img: 'url("./public/img/care.jpg")',
          name: "Care Phongsermsuk",
          title: "Head of Bodywork"
        },
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
@import "../assets/colours.scss";
@import "../assets/fonts.scss";

.text-container {
  width: 98%;
  overflow: hidden;
  margin: 0;
  & .members-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 680px) {
      margin: 0 auto;
    }
  }
}

.home {
  overflow-x: hidden;
}

.member {
  min-height: 450px;
  min-width: 340px;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: inline-block;
  & .hexagon-wrapper-wrapper {
    min-height: 300px;
    min-width: inherit;
    padding-left: 7%;
    & .hexagon-wrapper {
      min-height: inherit;
      min-width: inherit;
      width: 300px;
      position: relative;
      margin: 0 auto;
      padding-bottom: 15%;
    }
  }

  & content-text-div,
  p {
    min-width: inherit;
  }
}

.name,
.title {
  font-family: "full-blue-font";
  text-align: center;
}

.name {
  color: $fbrLightBlue;
  font-size: 28px;
}

.title {
  color: white;
  font-size: 22px;
  padding-bottom: 50px;
}
</style>