<template>
  <div>
    <headline :headline="headline"/>
    <p class="content-text-div">{{ content }}</p>
  </div>
</template>

<script>
import headline from "./headline.vue";

export default {
  name: "content-text-div",
  components: {
    headline: headline
  },
  props: ["headline", "content"]
};
</script>

<style lang="scss" scoped>
.content-text-div {
  height: fit-content;
  font-size: 20px;
}
</style>