<template>
  <form
    name="contact"
    method="post"
  >
  <input type="hidden" name="form-name" value="contact" />
    <p class="hidden">
      <label>
        Don’t fill this out if you're human:
        <input name="bot-field">
      </label>
    </p>
    <p>
      <label>
        Your Name:
        <br>
        <input required type="text" name="name" v-model="name">
      </label>
    </p>
    <p>
      <label>
        Your Email:
        <br>
        <input required type="email" name="email" v-model="email">
      </label>
    </p>
    <p>
      <label>
        You are:
        <br>
        <select name="role[]" multiple v-model="role">
          <option value="student">Student looking to get involved</option>
          <option value="others">Others</option>
        </select>
      </label>
    </p>
    <p>
      <label>
        Message:
        <br>
        <textarea name="message" v-model="message"></textarea>
      </label>
    </p>
    <p>
      <button type="submit" @click.prevent="submit()">Send</button>
    </p>
  </form>
</template>

<script>
export default {
    name: "ContactForm",
    data() {
      return {
        name: null,
        email: null,
        role: null,
        message: null,
      }
    },
    methods: {
      submit(){
        this.$router.push("/success");
      }
    }
};
</script>

<style lang=scss scoped>
.hidden {
  visibility: hidden;
  height: 0;
}

form {
  & input,
  select,
  textarea {
    width: 90%;
    overflow-x: hidden;
  }
}

button {
  background-color: white;
}
</style>
