<template>
  <div class="footer">
    <p>
      Department of Engineering, <br>
      Trumpington Street,<br>
      Cambridge CB2 1PZ, <br>
      United Kingdom
    </p>
    <img class="logo" :src="'public/img/CUEDinv.png'">
  </div>
</template>

<script>
export default {
  name: "page-footer"
};
</script>

<style lang='scss' scoped>
@import "../assets/colours.scss";
@import "../assets/sizes.scss";

.footer {
  flex-shrink: 0;
  height: 100px;
  width: 100%;
  padding: 10px 0;
  background-color: $fbrLightBlue;
  box-shadow: $menuShadow;
  z-index: 5;
  & p {
    float: left;
    width: 50%;
    margin-left: 40px;
    @media screen and (max-width: $camLogo-sizing){
        display: none;
    }
  }
  & .logo {
    float: right;
    vertical-align: 50%;
    height: 60%;
    margin-top: 20px;
    margin-right: 20px;
  }
}
</style>
