<template>
    <div class="headline">
        <span>{{ headline }}</span>
    </div>
</template>

<script>
export default {
    name: "headline",
    props: ['headline']
}
</script>

<style lang='scss' scoped>
@import '../assets/fonts.scss';
@import '../assets/colours.scss';
@import '../assets/sizes.scss';

.headline {
    font-family: 'full-blue-font';
    color: $fbrLightBlue;
    font-size: $headline-size;
}
</style>
