<template>
  <div class="hexagon" :style="{ 'background-image': link }">
    <div class="text">{{ content }}</div>
    <div class="hexTop"></div>
    <div class="hexBottom"></div>
  </div>
</template>

<script>
export default {
  name: "hexagon",
  props: ["link", "content", "overlay"]
};
</script>

<style lang="scss" scoped>
@import "../assets/colours.scss";

.text {
  position: relative;
  width: 90%;
  text-align: center;
  height: inherit;
  padding: 5% 10px;
  z-index: 5;
}

.hexagon {
  position: absolute;
  width: 300px;
  height: 173.21px;
  margin: 86.6px 0;
  background-size: auto 346.4102px;
  background-position: center;
  z-index: 2;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300px;
  height: 173.20508075688775px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.066px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.066px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 300px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}
</style>
