<template>
  <div>
    <div class="text-container">
      <div class="headline">{{ headline }}</div>
    </div>

    <!-- Hexagon Rows for wider screens -->
    <div class="hex-row-container">
      <div class="hexagon-row" id="hex-row-1">
        <hexagon id="hex1" :link="hexImages[0]"/>
        <hexagon class="overlay" id="overlay1" :content="content[0]"/>
        <hexagon id="hex2" :link="hexImages[1]"/>
        <hexagon class="overlay" id="overlay2" :content="content[1]"/>
        <hexagon id="hex3" :link="hexImages[2]"/>
        <hexagon class="overlay" id="overlay3" :content="content[2]"/>
      </div>
      <div class="hexagon-row" id="hex-row-2">
        <hexagon id="hex4" :link="hexImages[3]"/>
        <hexagon class="overlay" id="overlay4" :content="content[3]"/>
        <hexagon id="hex5" :link="hexImages[4]"/>
        <hexagon class="overlay" id="overlay5" :content="content[4]"/>
      </div>
      <!-- Phone screens divs -->
      <div class="phone-div">
        <content-text-div
          class="phone-content-div"
          v-for="(par, index) in content"
          :key="index"
          :content="par"
        />
      </div>
    </div>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import homeContent from "!raw-loader!../../dist/public/page_info/home.txt";
import hexagon from "../components/hexagon.vue";

export default {
  name: "hexRow",
  components: {
    "content-text-div": contentTextDiv,
    hexagon: hexagon,
  },
  data() {
    return {
      headline: homeContent.split("\n\n")[0],
      content: homeContent.split("\n\n").slice(1, this.length),
      hexImages: [
        'url("./public/img/scrut.JPG")',
        'url("./public/img/racing.jpg")',
        'url("./public/img/madrid_visit.jpg")',
        'url("./public/img/angle_grinding.jpg")',
        'url("./public/img/car_work.jpg")'
      ],
      hover: [false, false, false, false, false]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
@import "../assets/colours.scss";

.headline {
  margin: 60px 20px;
  font-size: 28px;
  text-align: center;
  color: $fbrLightBlue;
}

.hex-row-container {
  height: 85vh;
  @media screen and (max-height: 900px) {
    height: 750px;
  }
  @media screen and (max-height: 700px) {
    height: 650px;
  }
  @media screen and (max-width: 950px) {
    height: fit-content;
  }
}

.hexagon-row {
  position: relative;
  margin: 5%;
  margin-bottom: 50px;
  margin-top: 10px;

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.phone-div {
  display: none;
  @media screen and (max-width: $phone-sizing) {
    display: block;
  }
  & > .phone-content-div {
    margin: 2%;
    padding-bottom: 2%;
  }
}

.overlay {
  background-color: $fbrLightBlue;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.overlay:hover {
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

#hex-row-1,
#hex-row-2 {
  height: 37vh;
  @media screen and (max-height: 700px) {
    height: 225px;
  }
}

#hex2,
#overlay2 {
  left: 35%;

  @media screen and (max-width: 950px) {
    display: none;
  }
  @media screen and (max-width: 1180px) {
    left: 40%;
  }
  @media screen and (min-width: 1450px) {
    left: 42%;
  }
}

#hex3,
#overlay3 {
  @media screen and (min-width: 1180px) {
    right: 2%;
  }
  @media screen and (max-width: 1180px) {
    display: none;
  }
}

#hex4,
#overlay4 {
  left: 17%;
  @media screen and (max-width: 1180px) {
    left: 20%;
  }
}

#hex5,
#overlay5 {
  right: 20%;
  @media screen and (max-width: 1180px) {
    right: 7%;
  }
}
</style>
