<template>
    <div class="slider" :style="{
      'height': windowHeight.toString() + 'px',
    }">
      <transition-group name="fade" tag="div">
        <div v-for="i in [frame]" :key="i" style="width: 100%;">
          <img class="slider-img" :src="currentImg">
        </div>
      </transition-group>
      <img-overlay v-show="showOverlay" :overlayString="overlayString"/>
    </div>
</template>

<script>
import imgOverlay from "./imgOverlay.vue";

export default {
  name: "image-slider",
  props: ["showOverlay", "overlayString", "imgList"],
  components: {
    "img-overlay": imgOverlay,
  },
  data() {
    return {
      windowHeight: 200,
      windowWidth: 200,
      timer: null,
      frame: this.imgList.length === 1 ? 0 : 1
    };
  },
  created() {
    window.addEventListener("resize", this.getWindowHeight);
    window.addEventListener("resize", this.getWindowWidth);
    this.getWindowHeight();
    this.getWindowWidth();
  },
  destroyed() {
    window.removeEventListener("resize", this.getWindowHeight);
    window.removeEventListener("resize", this.getWindowWidth);
  },
  mounted: function() {
    if (this.imgList.length !== 1) {
      this.startSlide();
    }
  },
  methods: {
    startSlide: function() {
      this.timer = setInterval(this.next, 2500);
    },

    next: function() {
      this.frame++;
    },
    prev: function() {
      this.frame--;
    },
    getWindowHeight: function() {
      this.windowHeight = window.innerHeight;
    },
    getWindowWidth: function() {
      this.windowWidth = window.innerWidth;
      this.windowHeight = 0.5 * this.windowWidth;
    }
  },
  computed: {
    currentImg: function() {
      if (this.imgList.length === 1) {
        return this.imgList[0];
      } else {
        return this.imgList[Math.abs(this.frame) % this.imgList.length].link;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";
@import "../assets/colours.scss";
@import "../assets/fonts.scss";

.slider {
  margin-bottom: $slider-margin-bottom;
  width: 100%;
  overflow: hidden;
  position: relative;

  & > div {
    .slider-img {
      overflow: hidden;
      width: 100%;
    }
    img {
      position: absolute;
      top: $slider-margin-top;
      opacity: $imgOpacity;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s ease;
    visibility: visible;
    position: absolute;
    top: $slider-margin-top;
  }

  .fade-enter,
  .fade-leave-to {
    visibility: visible;
    opacity: 0;
  }
}
</style>

