<template>
    <div class="img-overlay">
      <div>
        <p v-for="string in overlayString" :key="string">{{ string }}</p>
      </div>
    </div>
</template>

<script>
export default {
  name: "img-overlay",
  props: ["overlayString"],
};
</script>

<style lang='scss' scoped>
@import "../assets/sizes.scss";
@import "../assets/fonts.scss";

.img-overlay {
  width: 100%;
  height: inherit;
  position: absolute;
  vertical-align: middle;
  & div {
    width: inherit;
    height: inherit;
    text-align: center;
    padding: 10% 0;
    font-family: "full-blue-font";
    font-size: $overlay-headline-size;
    @media screen and (max-width: $phone-sizing) {
      font-size: $small-overlay-headline-size;
    }
    @media screen and (max-width: $small-phone-sizing) {
      font-size: $tiny-overlay-headline-size;
    }
  }
}
</style>
