<template>
  <div class="navBar" v-click-outside="onClickOutside">
    <i
      class="nav-icon fas"
      :class="{ 'fa-bars': !showNavBar, 'fa-times': showNavBar}"
      id="navIcon"
      @click="toggleNavBar"
    ></i>
    <transition name="slide">
      <div class="nav" v-show="showNavBar">
        <router-link
          class="navLink"
          v-for="(link, index) in links"
          :key="index"
          :to="link.url"
          @click.native="toggleNavBar"
        >{{ link.text }}</router-link>
        <a class="direct" href="https://www.philanthropy.cam.ac.uk/give-to-cambridge/full-blue-racing">Donate</a>
        <div class="soc-med">
          <a
            class="soc-med-buttons"
            v-for="medInfo in socMed"
            :key="medInfo.id"
            :href="medInfo.url"
            @click.native="toggleNavBar"
          >
            <span class="soc-med-span" v-html="medInfo.logo"></span>
          </a>
        </div>
        <div class="slogan">
          <span class="slogan-dark">Design.</span>
          <span class="slogan-light">Build.</span>
          <span class="slogan-dark">Race.</span>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { serverBus } from "../main.js";
import vClickOutside from "v-click-outside";

export default {
  name: "NavBar",
  props: ["menuTitle"],
  data() {
    return {
      title: document.title,
      showNavBar: false,
      links: [
        { url: "/", text: "Home" },
        { url: "/about", text: "About" },
        { url: "/team", text: "Core Team" },
        { url: "/cars", text: "Cars" },
        // { url: "/news", text: "News" },
        { url: "/partners", text: "Partners" },
        { url: "/contact", text: "Contact" }
        // { url: "/member", text: "Login" },
      ],
      socMed: [
        {
          id: 1,
          url: "https://www.facebook.com/fullblueracing",
          logo: '<i class="fab fa-facebook-square"></i>'
        },
        {
          id: 2,
          url: "https://twitter.com/fullblueracing",
          logo: '<i class="fab fa-twitter-square"></i>'
        },
        {
          id: 3,
          url: "https://www.instagram.com/fullblueracing/",
          logo: '<i class="fab fa-instagram"></i>'
        },
        {
          id: 4,
          url: "https://www.linkedin.com/company/full-blue-racing/",
          logo: '<i class="fab fa-linkedin"></i>'
        },
        {
          id: 5,
          url: "https://www.youtube.com/channel/UCzQX84oOsPH0SxOthSoA37Q",
          logo: '<i class="fab fa-youtube"></i>'
        },
      ]
    };
  },
  directives: {
    clickOutside: vClickOutside.directive
  },
  methods: {
    toggleNavBar() {
      this.showNavBar = !this.showNavBar;
      serverBus.$emit("showNavBar", this.showNavBar);
    },
    onClickOutside(event) {
      if (this.showNavBar === true) {
        this.toggleNavBar();
      }
    }
  }
};
</script>

<style lang="scss">
@import "../assets/fonts.scss";
@import "../assets/colours.scss";

.navBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 0px;
  max-width: 1000px;
  border-left: gray;
  padding-top: 60px;
  background-color: white;
  z-index: 50;
  box-shadow: $menuShadow;

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.5s ease;
  }

  .slide-enter,
  .slide-leave-to {
    margin-right: -1000px;
  }

  .slide-enter-to,
  .slide-leave {
    margin-right: 0px;
  }

  .nav-icon {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: $fbrLightBlue;
    &:hover {
      cursor: pointer;
    }
    z-index: 100;
  }

  & .nav {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: black 1px;
    font-family: $fullBlueFont;

    & .soc-med {
      display: flex;
      flex-wrap: wrap;
      height: 50px;
      padding-top: 30px;
      font-size: 40px;
      color: $fbrLightBlue;
      justify-content: space-evenly;

      & .soc-med-buttons:hover {
        cursor: pointer;
      }

      & .soc-med-buttons {
        color: $fbrLightBlue;
      }
    }
  }

  & > div {
    .navName {
      font-size: 30px;
      font-weight: bold;
      //   color: $dark-grey;
    }
    .navLink, .direct {
      display: block;
      text-decoration: none;
      font-size: 16px;
      padding: 20px;
      border-top: 1px solid;
      text-transform: uppercase;
      color: $fbrLightBlue;

      &:first-child {
        border-top: 0 !important;
      }
    }
    .navLink:hover {
      font-weight: bold;
    }
    .router-link-exact-active {
      color: $fbrDarkBlue;
    }
  }
}

.slogan {
  font-size: 30px;
  margin: 20px;
  & .slogan-dark {
    color: $fbrDarkBlue;
  }
  & .slogan-light {
    color: $fbrLightBlue;
  }
}
</style>