<template>
  <div class="overlay-container">
    <transition name="fade">
      <div class="opaque-layer" v-show="isActive"></div>
    </transition>
  </div>
</template>

<script>
import { serverBus } from "../main.js";

export default {
  name: "opaque-layer",
  data() {
    return {
      isActive: false
    };
  },
  created() {
    serverBus.$on("showNavBar", showNavBar => {
      this.isActive = showNavBar;
    });
  }
};
</script>

<style lang='scss'>
@import "../assets/colours.scss";

.overlay-container {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}

.opaque-layer {
  height: 100%; 
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $fadeColour;
}
</style>
