<template>
  <div class="header">
    <div class="logo-container">
      <router-link class="logo-link" to="/">
        <img class="logo" src="public/logo.png">
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "page-header"
};
</script>

<style lang='scss' scoped>
@import "../assets/colours.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: white;
  box-shadow: $menuShadow;
  z-index: 10;

  & .logo-container {
    height: inherit;
    width: fit-content;
    & .logo-link {
      height: 100%;
      & .logo {
        position: relative;
        height: 100%;
        width: auto;
        margin-left: 20px;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}
</style>
