<template>
  <div class="text-hex-div">
    <div class="left-img" v-show="imgLeft">
      <content-text-div class="img-text" :headline="headlines[index]" :content="contentText"/>
      <div class="hexagon-wrapper">
        <hexagon content=" " :link="hexImg"/>
      </div>
    </div>

    <div class="right-img" v-show="!imgLeft">
      <div class="hexagon-wrapper">
        <hexagon :link="hexImg"/>
      </div>
      <content-text-div class="img-text" :headline="headlines[index]" :content="contentText"/>
    </div>
  </div>
</template>

<script>
import contentTextDiv from "../components/content-text-div.vue";
import hexagon from "../components/hexagon.vue";

export default {
  name: "text-hex-div",
  props: ["index", "headlines", "contentText", "hexImg"],
  components: {
    "content-text-div": contentTextDiv,
    hexagon: hexagon
  },
  data() {
    return {
      imgLeft: false
    };
  },
  beforeMount() {
    this.imgLeft = this.index % 2 === 1 ? true : false;
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/sizes.scss";

.text-hex-div {
  min-height: 350px;
  height: auto;
  width: 100%;
  margin: 0 2%;
  margin-bottom: 2%;
  vertical-align: middle;
  @media screen and (max-width: $phone-sizing) {
    min-height: 0;
  }
  & .left-img,
  .right-img {
    min-height: fit-content;
    width: inherit;
    display: table;
    & .img-text {
      height: fit-content;
      width: 60%;
      padding: 4%;
      @media screen and (max-width: $phone-sizing) {
        width: 95%;
        min-height: 0;
        padding: 0;
        padding-bottom: 5%;
        height: fit-content;
      }
      @media screen and (max-width: $small-phone-sizing) {
        padding-bottom: 20%;
        height: fit-content;
      }
    }
    & .hexagon-wrapper {
      min-height: inherit;
      width: 30%;
      @media screen and (max-width: $phone-sizing) {
        display: none;
      }
    }
  }

  & .left-img {
    & .img-text {
      float: right;
      @media screen and (max-width: $phone-sizing) {
        float: left;
      }
    }
    & .hexagon-wrapper {
      float: left;
    }
  }
  & .right-img {
    & .img-text {
      padding-left: 0;
      float: left;
    }
    & .hexagon-wrapper {
      float: right;
    }
  }
}
</style>
