$menuShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$fadeColour: rgba(17, 24, 37, 0.6);
$fbrLightBlue: #00AAFF;
$fbrDarkBlue: #172437;
$boardColour: gray;
$cardColour: white;
$imgOpacity: 0.5;