$top-spacing: 60px;
$vid-margin-spacing: 2%;
$slider-margin-bottom: 20px;
$slider-margin-top: -10%;
$phone-sizing: 950px;
$small-phone-sizing: 450px;
$camLogo-sizing: 670px;
$headline-size: 36px;
$overlay-headline-size: 64px;
$small-overlay-headline-size: 36px;
$tiny-overlay-headline-size: 24px;

.home {
    margin-top: $top-spacing;
}

.text-container {
    margin: 0 5%;
    margin-bottom: 2%;

    @media screen and (max-width: $phone-sizing) {
        margin: 0 2%;
        margin-bottom: 2%;
    }
}