<template>
  <div id="app" data-server-rendered="true">
    <page-header />
    <opaque-layer />
    <transition name="fade-down" mode="out-in">
    <router-view id='view' />
    </transition>
    <nav-bar/>
    <page-footer />
  </div>
</template>

<script>
import pageHeader from "./components/pageHeader.vue";
import NavBar from "./components/navbar.vue";
import pageFooter from "./components/footer.vue"
import opaqueLayer from "./components/opaqueLayer.vue"

function getDocTitle() {
      return document.title
    }

export default {
  components: {
    "nav-bar": NavBar,
    "opaque-layer": opaqueLayer,
    "page-header": pageHeader,
    "page-footer": pageFooter,
  },
};

</script>

<style lang="scss">
@import "./assets/colours.scss";

body {
  font-family: 'Lato';
  margin: 0;
  background-color: $fbrDarkBlue;
  min-height: 100%;
}
#view {
  min-height: calc(100vh - 185px);
}
#app {
  background-color: $fbrDarkBlue;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;

  .fade-down-enter-active {
    animation-name: fadeInDown;
    animation-duration: 0.3s;
  }
  .fade-down-leave-active {
    animation-name: fadeOutDown;
    animation-duration: 0.2s;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0.05;
      transform: translate3d(0, -25px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0.05;
      transform: translate3d(0, -25px, 0);
    }
  }
}
</style>