<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description"
    content="​Full Blue Racing (FBR) is the Formula Student team of the University of Cambridge. ">
  <meta name="author" content="Brandon Lee">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <!-- Page styles -->
  <!-- Pre-loading-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <!-- Images -->
  <link rel="preload" href="./public/logo.png" as="image">
  <link rel="preload" href="./public/img/fbr18.jpg" as="image">
  <link rel="preload" href="./public/img/pit-lane.jpeg" as="image">
  <link rel="preload" href="./public/img/fbr19_team.jpg" as="image">

  <!-- Stylesheets -->
  <link rel="prefetch" href="main.css" as="style">
  <link rel="prefetch" href="main.js" as="script">


  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon-16x16.png">
  <link rel="manifest" href="./public/site.webmanifest">
  <link rel="mask-icon" href="./public/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147223235-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-147223235-1');
  </script>

</head>

<body>
  <div id="app"></div>
</body>

</html>